{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<section>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
             {% for asset in portfolio %}
            <tr>
                <td>{{ asset.ticker }}</td>
                <td>{{ asset.shares }}</td>
                <td>{{ asset.price | usd }}</td>
                <td>{{ asset.total | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>remaining balance: {{ cash | usd}}</p>
</section>
{% endblock %}