{% extends "layout.html" %}

{% block title %}
    Get a Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <label for="symbol">Enter Symbol</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="AAPL" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Request</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ quote.name }}</td>
                <td>{{ quote.price | usd }}</td>
            </tr>

        </tbody>
    </table>
{% endblock %}