{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <label for="symbol">Choose Symbol</label>
        <select name="symbol" id="symbol">
            {% for asset in assets %}
            <option value="{{asset}}">{{asset}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="shares">Number of Shares</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}